/* met en majuscule tout le texte */
span.uppercase {
  text-transform: uppercase;
}
/* met en minuscule tout le texte */
span.lowercase {
  text-transform: lowercase;
}
/* chaque lettre de mot mis en majuscule */
span.capitalize {
  text-transform: capitalize;
}
.div-present {
  margin: auto;
  width: 40%;
  border: 3px solid #990000;
  padding: 30px;
}
.div-qcm,
.div-menu {
  margin: auto;
  width: 50%;
  border: 3px solid #3633ff;
  padding: 30px;
}

.div-form {
  margin: auto;
  width: 50%;
  border: 3px solid #000000;
  padding: 30px;
}
.main-title-center {
  margin: auto;
  display: table;
  align: center;
  font-weight: bold;
  font-size: 25px;
  padding: 20px;
}
.marg-top {
  margin-top: 25px;
}
p.text-title {
  font-size: 15px;
  font-weight: bold;
}
span.text-title {
  font-size: 20px;
  font-weight: bold;
}
p.text {
  font-size: 12px;
}
span.text {
  font-size: 16px;
}
/*"clearfix" permet de saisir un text autour d'une image
Exple: Ecrire un text avec une image d'illustration sur la gauche ou la droite*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  float: right;
}
